@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@theme {
    --font-manrope: 'Manrope', sans-serif;
    --font-figtree: 'Figtree', sans-serif;
    --color-primary: #0D99FF;
    --color-secondary: #085C99;
    --color-accent: #FAFAF8;
}

@layer components {
    .impact-header {
        @apply flex flex-col gap-4 h-fit justify-center items-center;
    }
    .impact-header_title {
        @apply font-figtree font-medium text-4xl tracking-normal text-black;
    }
    .impact-header_subtitle {
        @apply font-figtree font-normal text-xl tracking-normal text-black;
    }
    .stat-card {
        @apply flex flex-col items-center justify-center gap-3.5 p-6 w-full h-fit border border-[#DEDEDE] rounded-2xl;
    }
    .stat-card_icon-wrapper {
        @apply w-15.5 h-15.5 bg-[#80C9FF] p-3.5 rounded-full flex items-center justify-center;
    }
    .stat-card_icon-svg {
        @apply w-8 h-7.75;
    }
    .stat-card_content {
        @apply flex flex-col justify-center items-center gap-3.5;
    }
    .stat-card_label {
        @apply font-figtree font-normal text-xl tracking-normal text-black;
    }
    .stat-card_value {
        @apply font-figtree font-medium text-4xl tracking-normal text-secondary;
    }
    .stat-card_unit {
        @apply text-sm text-black;
    }
    .stat-card_desc {
        @apply font-figtree font-normal text-sm tracking-normal text-black;
    }
    .problem-item {
        @apply flex gap-4 items-center justify-center;
    }
    .problem-item_icon-wrapper {
        @apply w-10 h-10 bg-[#80C9FF] rounded-full flex items-center justify-center shrink-0;
    }
    .problem-item_text-container {
        @apply flex flex-col gap-4 pb-4 border-b border-[#DEDEDE];
    }
    .problem-item_title {
        @apply font-figtree font-semibold text-xl tracking-normal text-black w-full;
    }
    .problem-item_desc {
        @apply font-figtree font-normal text-sm tracking-normal text-black w-full;
    }
}